body {
  background: black;
  color: white;
}

.container {
  width: 70%;
  margin: auto;
  padding: 20px;
  border: 4px solid white;
  text-align: center;
}

input, button {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

button {
  background: white;
  color: black;
  font-weight: bold;
}
